<template>
  <div class="home">
    <img alt="Vue logo" src="@/assets/logo.png">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <a
      href="javascript:;"
      @click="logout">
      登出
    </a>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import { mapActions } from 'vuex'

export default {
  name: 'index',
  // components: {
  //   HelloWorld
  // }
  methods: {
    ...mapActions([
      'actionLogout'
    ]),
    async logout () {
      await this.actionLogout()
      window.location.href = '/'
    }
  }
}
</script>
