<template>
  <div class="content">
    <div>
      姓名 <input type="label" v-model="currentData.name"></input>
    </div>
    <div>
      員編 <input type="label" v-model="currentData.id"></input>
    </div>
    <div>
      <button @click="close">取消</button>
      <button @click="submit">完成</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  data () {
    return {
      currentData: {
        name: '',
        id: ''
      }
    }
  },
  methods: {
    close () {
      this.$emit('update:active', !this.active)
    },
    submit () {
      this.$emit('submit', this.currentData)
      this.close()
    }
  },
  watch: {
    'data': {
      handler (d) {
        this.currentData = JSON.parse(JSON.stringify(d))
        console.log(this.currentData)
      },
      immediate: true,
      deep: true
    }
  }
}
</script>
