<template>
  <div>
    <div>
      <button @click="openLightbox">Lightbox</button>
    </div>
    <AppLightbox1
      :active.sync="isLightboxActive"
      :data="teacher"
      @submit="updateData">
      由父組件定義內容
    </AppLightbox1>
  </div>
</template>

<script>
import AppLightbox1 from '@/components/AppLightbox1.vue'

export default {
  components: { AppLightbox1 },
  data () {
    return {
      teacher: {
        name: '阿貓',
        id: 'T001'
      },
      isLightboxActive: false
    }
  },
  methods: {
    openLightbox () {
      this.isLightboxActive = true
    },
    updateData (d) {
      this.teacher = JSON.parse(JSON.stringify(d))
    }
  }
}
</script>
